<div class="bg-black w-98 h-45 margin-1">
</div>
<div id="best" class="d-flex justify-content-around">
  <div class="w-19 h-300">
    <div class="bg-black w-100 h-220"></div>
    <div class="bg-grey w-100 h-80 d-flex align-content-between flex-wrap">
      <div class ="bg-red w-50 h-40">Item</div>
      <div class ="w-50 h-40"></div>
      <div class ="w-50 h-40"></div>
      <div class ="bg-red w-50 h-40"></div>
    </div>
  </div>
  <div class="bg-grey w-19 h-300">
  </div>
  <div class="bg-grey w-19 h-300">
  </div>
  <div class="bg-grey w-19 h-300">
  </div>
</div>


