<div class="bg-grey w-98 h-45 margin-1 center">
  Best seller
</div>
<div id="best" class="d-flex justify-content-around">
  <!-- b1 -->
  <div class="w-19 h-300 d-flex align-content-between flex-wrap">
    <div class="bg-black w-100 h-220"></div>
    <div class="w-100 h-80 d-flex flex-wrap">
      <div class="w-50 h-80 d-flex flex-wrap">
        <div class ="bg-red w-100 h-40">{{ao.name}}</div>
        <div class ="w-100 h-40">
          <p class="text-center font-size-15px">
            <span class="font-size-30px font-weight-bold">{{ao.price}}</span>
            đồng</p>
        </div>   
      </div>
      <div class="">
        <div class ="circle ml-20"> 
        </div>
        <button form="form_index" class="btn text-black h-30 m-dm" type="submit">Đặt mua</button>           
      </div>
    </div>
  </div>

  <!-- b2 -->
  <div class="w-19 h-300 d-flex align-content-between flex-wrap">
      <div class="bg-black w-100 h-220"></div>
      <div class="w-100 h-80 d-flex flex-wrap">
        <div class="w-50 h-80 d-flex flex-wrap">
          <div class ="bg-red w-100 h-40">Item</div>
          <div class ="w-100 h-40">
            <p class="text-center font-size-15px">
              <span class="font-size-30px font-weight-bold">{{money}}</span>
              đồng</p>
          </div>   
        </div>
        <div class="">
          <div class ="circle ml-20"> 
          </div>
          <button form="form_index" class="btn text-black h-30 m-dm" type="submit">Đặt mua</button>           
        </div>
      </div>
    </div>
  <!-- b3 -->
  <div class="w-19 h-300 d-flex align-content-between flex-wrap">
      <div class="bg-black w-100 h-220"></div>
      <div class="w-100 h-80 d-flex flex-wrap">
        <div class="w-50 h-80 d-flex flex-wrap">
          <div class ="bg-red w-100 h-40">Item</div>
          <div class ="w-100 h-40">
            <p class="text-center font-size-15px">
              <span class="font-size-30px font-weight-bold">{{money}}</span>
              đồng</p>
          </div>   
        </div>
        <div class="">
          <div class ="circle ml-20"> 
          </div>
          <button form="form_index" class="btn text-black h-30 m-dm" type="submit">Đặt mua</button>           
        </div>
      </div>
    </div>
  <!-- b4 -->
  <div class="w-19 h-300 d-flex align-content-between flex-wrap">
      <div class="bg-black w-100 h-220"></div>
      <div class="w-100 h-80 d-flex flex-wrap">
        <div class="w-50 h-80 d-flex flex-wrap">
          <div class ="bg-red w-100 h-40">Item</div>
          <div class ="w-100 h-40">
            <p class="text-center font-size-15px">
              <span class="font-size-30px font-weight-bold">{{money}}</span>
              đồng</p>
          </div>   
        </div>
        <div class="">
          <div class ="circle ml-20"> 
          </div>
          <button form="form_index" class="btn text-black h-30 m-dm" type="submit">Đặt mua</button>           
        </div>
      </div>
    </div>

</div>


